.app-container {
  max-width: 800px;
  margin: auto;
}

::ng-deep .mat-sidenav-container {
  height: 100vh !important;
  margin-top: -16px !important;
}

::ng-deep .mat-sidenav {
  width: 300px !important;
}
