::ng-deep .mat-sidenav-container {
  height: 100vh !important;
  margin-top: -16px !important;
}

::ng-deep .mat-sidenav {
  margin: auto;
}

.app-container {
  padding: 3em;
  max-width: 800px !important;
  height: 100vh !important;
  margin: auto;
}
