<custom-header *ngIf="showHeader$ | async"></custom-header>
<mat-sidenav-container>
  <mat-sidenav
    [style.width.%]="isMobile ? 100 : 25"
    mode="side"
    [opened]="showSidebar$ | async"
  >
    <mat-nav-list style="margin: 0; padding: 0" *ngFor="let option of options">
      <a [href]="option.url" mat-list-item>{{ option.name }}</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
